<div class="row">
  <div class="col s12 m12 l12">
    <% if @posts.any? %>
      <% @posts.each do |post| %>
          <div class="col s12 m6 l4">
          <%= link_to user_post_path(post.user_id, post) do %>
            <div class="card sizecard">
              <div class="card-image">
                <%= image_tag post.picture.url(:original), class: "center" %>
                <span class="card-title"><%= post.title %></span>
              </div>
              <div class="card-content">
                <p><%= post.description %></p>
              </div>
              <div class="card-action center">
                  <% if post.completed == true %> 
                    <i class="material-icons">check_circle</i><br />
                    <label>Completed</label>
                  <% else %>
                    <i class="material-icons">panorama_fish_eye</i><br />
                    <label>Not Completed</label>
                  <% end %>
              </div>
            </div>
            <% end %>
          </div>
      <% end %>
    <% else %>
      <div class="center">
      <h1>No Posts</h1>
      <img src="http://static4.fjcdn.com/comments/Cuteness+has+reached+critical+mass+_03d8c3cf58d9c8493503b303be3ca7a7.png">
      </div>
    <% end %>
  </div>
</div>


            